.about img {
    cursor: pointer;
    align-self: center;
    opacity: 0.9;
    border-radius: 501px;
    -webkit-border-radius: 501px;
    -moz-border-radius: 501px;
    -ms-border-radius: 501px;
    -o-border-radius: 501px;
}
