@import url("https://fonts.googleapis.com/css2?family=Open+Sans&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Raleway&display=swap");

/* GLOBAL */
h4 {
    font-family: "Raleway", sans-serif;
    line-height: 21.6px;
    font-size: 18px;
    font-weight: 700;
}

.visi li,
p {
    font-family: "Open Sans", sans-serif;
    line-height: 24px;
    font-size: 16px;
    font-weight: 401;
}

li,
a {
    text-decoration: none;
}
.card {
    border-radius: 0px;
    -webkit-border-radius: 0px;
    -moz-border-radius: 0px;
    -ms-border-radius: 0px;
    -o-border-radius: 0px;
}
.text-orange {
    color: #fd7e14;
}

.carousel-indicators {
    margin: 0px;
    height: 0px;
}

.carousel-indicators ol {
    width: 100%;
}

.carousel-indicators li {
    height: 3px !important;
    border-radius: 0px !important;
    width: 25%;
    -webkit-border-radius: 0px !important;
    -moz-border-radius: 0px !important;
    -ms-border-radius: 0px !important;
    -o-border-radius: 0px !important;
}

.footer .border-footer {
    width: 100%;
    margin-top: 20px;
    height: 5px;
    background: rgb(3, 169, 244);
    background: linear-gradient(
        142deg,
        rgba(3, 169, 244, 1) 0%,
        rgba(70, 140, 222, 1) 13%,
        rgba(194, 86, 181, 1) 83%
    );
}

.App-bg-content {
    background: #f2f2f2;
}
