.register-content {
    input {
        border: none;
    }
    .card {
        border-radius: 11px;
        -webkit-border-radius: 11px;
        -moz-border-radius: 11px;
        -ms-border-radius: 11px;
        -o-border-radius: 11px;
    }
    .input-group {
        border: none;
        border-bottom: 1px solid rgba(175, 170, 170, 0.788);
    }
    .form-control {
        border: 0;
    }
    .btn {
        border-radius: 20px;
        -webkit-border-radius: 20px;
        -moz-border-radius: 20px;
        -ms-border-radius: 20px;
        -o-border-radius: 20px;
    }
}
